.bg-blue {
    background-color: #2196f3;
}

.modal-selector {
    background-image: url("../images/arches.jpg");
    background-size: cover;
    background-position: 100%;
    padding: 50px 25px;
}


/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

#park {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
  #lake {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  #george {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  #zions {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  /* local weather section */
  #weatherbg {
    background-image: url("../images/sunset.PNG");
    background-size: cover;
    background-position: 100%;
    padding: 50px 25px;
    color: white;
  }

  .local-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  } 

  .uv-index {
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    width: 100%;
    box-sizing: border-box;
  } 

  .uv-index-text {
    padding-right: 5px;
  }


  /* city search forecast section */
  .weather-search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 10vw;
    width: 90vw;
    box-sizing: border-box;
  }

  .search-container {
      width: 30%;
      margin-left: 30px;
      /* background-color: #f2f4f7; */
  }

  .search-input {
    display: flex;
    flex-direction: row;
    max-height: 45px;
    background-color: #2196F3;
  }

  .searchTerm {
    max-height: 45px;
  }

  .search-button {
    max-height: 45px;
  }

  .history-item {
      width: 100%;
      padding: 4px;
      border: 1px solid rgb(185, 178, 178);
  }

  .response-container {
      /* width: 70vw; */
      width: 70%;
      padding-left: 3mm;
  }

  .current-section {
      /* border: 1px solid rgb(185, 178, 178); */
      /* padding: 5px; */
  }

  .current-city {
      display: flex;
      flex-direction: row;
      /* justify-content: space-between; */
      align-items: flex-start;
  }

  .current-city-name {
      padding-right: 10px;
  }

  .current-date {
      padding-right: 10px;
  }

  .current-city-icon {
    padding-top: 30px;  
  }
  
  .forecast {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
  }

  .forecast-day {
      margin: 5px;
      background-color: #2196F3;
      padding: 5px;
  }